<a href="https://colab.research.google.com/github/John-Patrick-Oliveros/CPEN-21A-BSECE-2-3/blob/main/Demo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indention

In [1]:
if 5>2:
  print("Five is greater than two.")  #This code shows a string of words.

Five is greater than two.

###Python Variable

In [10]:
a, b, c = 0, 1, 2
d = "Sally" #This is a type of string
s = 'Mark' #This is a type of string
A = "Raymond" #This is a type of string
print(a)
print(b)
print(c)
print(d)
print(s)
print(A)

0
1
2
Sally
Mark
Raymond

##Casting

In [7]:
print(float(4))

4.0

#Type Function

In [8]:
f = 56
print(type(f))

<class 'int'>

In [11]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [12]:
x = y = z = "four" #Multiple variables with single value
print(x)
print(y)
print(z)

four
four
four

In [15]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

##Operations in Python

In [16]:
k = 10
l = 5
print(k+l)

15

In [17]:
k += l  #k is the same k = k+l
print(k)

15

In [21]:
k>l and l==l

True

In [22]:
k<l or k==k

True

In [25]:
not(k<l or k==k)

False

In [27]:

k is not l

True

In [32]:
k%=5