<a href="https://colab.research.google.com/github/John-Patrick-Oliveros/CPEN-21A-BSECE-2-3/blob/main/Week_12_Assessment_(Loop_Statement).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [10]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week: 
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##The Break Statement

In [11]:
for x in week: 
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [12]:
for x in week: 
  if x=="Thursday": 
    break 
  print(x)

Sunday
Monday
Tuesday
Wednesday

##Looping Through a String

In [13]:
for x in "week":
  print (x)

w
e
e
k

In [14]:
for x in "programming logic and design":
  print (x)

p
r
o
g
r
a
m
m
i
n
g

l
o
g
i
c

a
n
d

d
e
s
i
g
n

##The Range Function

In [15]:
for x in range (6):
  print(x)

0
1
2
3
4
5

In [16]:
for x in range (2,6):
    print(x)

2
3
4
5

##Nested Loops

In [25]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
  for y in fruits: 
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [24]:
i=1
while i<6:
  print(i)
  i+=1 #Assignment Operator #The same as i=i+1

1
2
3
4
5

In [18]:
i=1
while i<=6:
  print(i)
  i+=1 #Assignment Operator #The same as i=i+1

1
2
3
4
5
6

Break statement under while

In [19]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  else:
    i+=1

1
2
3

##The Continue Statement

In [20]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

##Else Statement

In [21]:
i=1
while i<6:
    print(i)
    i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

##Application 1

In [22]:
value=["Value"]
number=["0","1","2","3","4","5","6","7","8","9","10"]

for x in value:
  for y in number: 
    print(x,y)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

##Using while loop on Application 1

In [23]:
value=["Value"]
number=["0","1","2","3","4","5","6","7","8","9","10"]

i=0
while i<=10:
    print("value", i)
    i+=1 #Assignment operator for addition

value 0
value 1
value 2
value 3
value 4
value 5
value 6
value 7
value 8
value 9
value 10

##Application 2

In [ ]:
x = 3
y = 20
while(x<y):
    print(x)
    x += 1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19